<h2>Registered projects</h2>
<button class="add-project" [routerLink]="'register-project'">Add project</button>
<div>

    <table class="table table-striped">

        <colgroup>

            <col />

            <col />

            <col />

        </colgroup>

        <tr>

            <th>Project ID</th>

            <th>Project Code</th>

            <th>Project Manager</th>

        </tr>

        <tr *ngFor="let projectDetail of projectDetails | paginate: { itemsPerPage: 6, currentPage: p }">

            <td>{{ projectDetail.projectID }}</td>

            <td>{{ projectDetail.projectCode }}</td>

            <td>{{ projectDetail.projectManager }}</td>

        </tr>

    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>

<router-outlet></router-outlet>
