.box {
    width: 400px;
    min-height: 300px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    /* margin-left: 100px; */
    padding: 5%;
  }

  h1 {
    margin: 10px 0 10px 0;
  }

  button {
    background-color: #0d6efd;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  input[type='text'],
  [type='password'] {
    padding: 10px 20px;
    width: 60%;
  }
  
  .reset-password {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  .help{
    color: red;
    position: relative;
    top: 5px;
    left: -48px;
  }

  .password-help {
    left: -62px;
  }

  input.ng-invalid.ng-touched{
    border: 2px solid red;
    border-radius: 4px;
  }
  
  .warning{
    color:#721c24;
    background-color:#f8d7da;
    border-color: #f5c6cb;
    width:300px ;
    border-radius: 5px;
    padding: 10px;
    margin: 15px auto 0;
  }
  