<div class="reset-password-container">
    <h2>Reset your password</h2>
    <div class="box">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="input-container">
            <h4>Enter your user account's verified email address and we will send you a password rest link.</h4>
            <input required type="text" placeholder="Email Address (Required)*" email name="emailID"
            ngModel #email="ngModel">
            <div class="help" *ngIf="!email.valid && email.touched">Please enter a valid email</div>
        </div>
        <br>
        <div class="reset-password-button-container">
            <button class="button">Reset Password</button>
        </div>  
    </form>
    </div>
</div>