.box {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    /* text-align: center; */
    background-color: white;
    margin: 0 auto;
    /* margin-top: 100px;
    margin-left: 100px; */
    padding:10px;
    border: 1px solid black;
  }
  .button{
    height: 25px;
    /* margin-left: 110px; */
    /* margin: 10px 10px 10px 10px; */
  }
  .email{
    height: 25px;
    width: 300px;
    margin-left: 50px;
  }

  h2 {
    text-align: center;
  }

  .reset-password-button-container {
    text-align: center;
  }

  .reset-password-container {
    margin-top: 100px;
  }

  .help{
    color: red;
    font-size: 14px;
    position: relative;
    top: 5px;
    left: -5px;
  }

  input.ng-invalid.ng-touched{
    border: 2px solid red;
    border-radius: 4px;
  }

.input-container {
    text-align: center;
}

input[type="text" i] {
    margin: 0 auto;
}

input {
    margin: 0 auto;
}