<div class="pop-container active" id="container">
    <div class="popup">
<div class="project-registration-container">
<div class="success" *ngIf="registeredState">Registered Sucessfully</div>
<h2>Register Project</h2>
<button class="close" [routerLink]="'/profile/manage-project'">&times;</button>
<form class="container" (ngSubmit)="onProjectRegister(f)" #f="ngForm">
    <div class="project-code-container">
      <label>Project Code</label>
      <br />
      <input required pattern=".*([a-zA-Z].*[0-9]|[0-9].*[a-zA-Z]).*" type="text" name="projectCode" ngModel #projectCode="ngModel" placeholder="Project Code" />
      <div class="alerting" *ngIf="!projectCode.valid && projectCode.touched">
        <div *ngIf="projectCode.errors?.['required']">Project code is required.</div>
        <div *ngIf="projectCode.errors?.['pattern']">Project code should contain alphabets and numbers only.</div>
      </div>
    </div>
    <label>Project Manager</label>
    <br />
    <input required pattern="^[a-zA-Z ]*$" type="text" name="projectManager" ngModel #projectManager="ngModel" placeholder="Project Manager" />
    <div class="alerting" *ngIf="!projectManager.valid && projectManager.touched">
        <div *ngIf="projectManager.errors?.['required']">Project Manager is required.</div>
        <div *ngIf="projectManager.errors?.['pattern']">Project Manager should contain only alphabets.</div> 
    </div>
    <div class="submit-button-container">
      <button [disabled]="!f.valid" class="submit-button" type="submit">Submit</button>
      <!-- <a class="cancel" (click)="onCancel()">cancel</a> -->
    </div>
</form>
</div>
</div>
</div>
<!-- <router-outlet></router-outlet> -->