

<div class="pop-container active" id="container">

    <div class="popup">
        <div *ngIf="registeredState" class="success" >Registered Sucessfully</div>
        <h2>Register</h2>
      <button class="close" [routerLink]="'/profile/manage-user'">&times;</button>
      
      <div class="container">
        <div>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="input-container"> <label>First Name</label><br>
                    <input required pattern="^[a-zA-Z ]*$" class="input" name="firstName" type="text" ngModel
                        #firstName="ngModel" placeholder="First Name">
                    <div class="alerting" *ngIf="!firstName.valid && firstName.touched">
                        <div *ngIf="firstName.errors?.['required']">First name is required.</div>
                        <div *ngIf="firstName.errors?.['pattern']">First name should contain only alphabets.</div>
                    </div>
                </div>
    
                <div class="input-container"><label>Last Name</label><br>
                    <input required pattern="^[a-zA-Z ]*$" class="input" name="lastName" type="text" ngModel
                        #lastName="ngModel" placeholder="Last Name">
                    <div class="alerting" *ngIf="!lastName.valid && lastName.touched">
                        <div *ngIf="lastName.errors?.['required']">Last name is required.</div>
                        <div *ngIf="lastName.errors?.['pattern']">Last name should contain only alphabets.</div>
                    </div>
                </div>
                <div class="input-container"><label>Email Address</label><br>
                    <input required email class="input" name="email" type="email" ngModel #email="ngModel"
                        placeholder="Email Address">
                    <div class="alerting" *ngIf="!email.valid && email.touched">Please enter a valid email.</div>
                </div>
                <div class="input-container">
                    <label>Password</label><br>
                    <input required pattern='((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,20})' class="input"
                        type="password" (change)="onPassword(password)" placeholder="Password" name="password" ngModel #password="ngModel">
                    <div class="alerting" *ngIf="!password.valid && password.touched">
                        <div *ngIf="password.errors?.['required']">Password is required!</div>
                        <div *ngIf="password.errors?.['pattern']">
                            Password must be 8 characters long which contains at least one special,uppercase and lowercase
                            characters.
                        </div>
                    </div>
                </div>
                    <div class="input-container">
                        <label>Confirm Password</label><br>
                        <input required pattern='((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,20})' class="input"
                            type="password" (input)="onConfirmPassword(confirmPassword)" placeholder="Confirm Password" name="confirmPassword" ngModel
                            #confirmPassword="ngModel">
                        <div class="alerting" *ngIf="!confirmPassword.valid && confirmPassword.touched">
                            <div *ngIf="confirmPassword.errors?.['required']">Password is required!</div>
                            <div *ngIf="!isPasswordMatched">
                                Password & Confirm Password does not match.
                            </div>
                        </div>
                    </div>
    
    
                    <div>
                        <button class="register-button" [disabled]="!f.valid && !isPasswordMatched">Register</button>
                        <!-- <a class="cancel" (click)="onCancel()">cancel</a> -->
                    </div>
            </form>
        </div>
    </div>
      
    </div>

  </div>

  <router-outlet></router-outlet>